
.container {
    display: flex;
    flex-direction: row;


}
.nftCard {
    color: blue;
    background-color: blue;
    max-width: 20px;
}

.img{
 max-height: 20px;
}
.ethCard{
    height: 20px;
}
a:link { text-decoration: none; }
